.Rproj.user
.Rhistory
.RData
norscir.Rproj
data/NSdata.Rdata
inst/doc
inst/*.tex
inst/*.lof
inst/*.log
inst/*.lot
inst/*.toc
inst/*.gz
inst/Fig*
inst/NSsamleDok.pdf
inst/NSsamleDokLand.pdf
*.png
docs
